body{
		font: 62.5% "Trebuchet MS", sans-serif;
		margin: 0px;
		padding: 0px;
	}

	.entry-title {
		margin: 5px 0 0 0px;
		padding: 0px;
		color:#ddd;
		font: 30px/30px 'Pacifico', cursive;
    	letter-spacing: -1px;
	}
	#logo {
  		float:right;
  		margin-right: 5px;
  		border:solid #ddd;
  		border-radius: 50%;
	}
	#menu {
		width:99%;
		height: 10px;
		padding:0;
		margin-left: 5px;
		margin-top:10px;
		margin-bottom: 12px;
	}
	#content{
		clear:both;
		width: 99%;
		margin: 2px 5px;
	}
	.demoHeaders {
		margin-top: 2em;
	}
	#dialog-link {
		padding: .4em 1em .4em 20px;
		text-decoration: none;
		position: relative;
	}
	#dialog-link span.ui-icon {
		margin: 0 5px 0 0;
		position: absolute;
		left: .2em;
		top: 50%;
		margin-top: -8px;
	}
	#icons {
		margin: 0;
		padding: 0;
	}
	#icons li {
		margin: 2px;
		position: relative;
		padding: 4px 0;
		cursor: pointer;
		float: left;
		list-style: none;
	}
	#icons span.ui-icon {
		float: left;
		margin: 0 4px;
	}
	.fakewindowcontain .ui-widget-overlay {
		position: absolute;
	}
	select {
		width: 200px;
	}

.clear {
  clear:both;
}


/********USUARIOS********/

#tblUsuarios ul {
  list-style:none;
	padding-left:0;
}

#tblUsuarios ul li ul{
	padding-left:15px;
}

#divPermisos>ul {
	padding: 0;
	margin: 0;
}

#divPermisos ul {
  list-style: none;
}

#divPermisos>ul>li {
  float: left;
	width: 300px;
	margin-right: 10px;
}

#divPermisos>ul>li>fieldset {
  padding:0;
	margin:0;
}
