@charset "utf-8";
/* CSS Document */
body{
	margin-top:			20px;
	margin-left: 		20px;
	font-family:Verdana, Geneva, sans-serif;
	font-size:11px;
}

table {
  font-size:11px;
	padding:0;
	margin:0;
	border-spacing:1px; 
}

table thead {
  background-color:#55a616;
	color:#FFF;
}

table thead tr th{
	border-right: 0.5px solid #FFFFFF;
	padding-right: 4px;
	padding-left: 4px;
}

table tfoot tr td{
	font-weight:bold;
	color:#000;
  border-top: 1px solid #CCCCCE; 
	height:18px;
	padding-left: 8px;
}

.tablaSubtotal{
	font-weight:bold;
	color:#000;
  border-top: 1px solid #CCCCCE; 
	height:18px;
}

.tablaEspacio {
  background-color:#FFF;
}

.tablaEspacioLinea2 {
  background-color:#000;
	height: 2px;
	padding:0;
}

.tablaEspacioLinea {
  background-color:#000;
	height: 1px;
	padding:0;
}

table td {
	padding:3px;
}

h1 {
  color:#e17009;
	font-size:14px;
}

h2 {color:#e17009; font-size: 9.0pt; font-weight: bold;}

.floatLeft {
  float:left;
	margin-right: 8px;
}

.borde {
  border: solid thin #000;
}

#graficaDatos {
  margin-top: 30px;
	margin-bottom: 30px;
}

a {
  text-decoration:none;
	color: #000;
	font-weight:bold;
}