@charset "utf-8";
/* CSS Document */
body {
  font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
}
img {
	border: 0;
}

h3 {
   color: #008000;
	 margin:0;
	 padding:0;
	 font-weight:normal;
}

.error {
  color: #F00;
}

.clear {
  clear:both;
}

#header {
  padding-bottom: 6px;
	margin-bottom: 4px;
}

.cambioZafra {
  float:right;
  margin-top: 20px;
	margin-right: 20px;
}

#footer {
  text-align:center;
	padding-top: 8px;
}

#menu {
  clear:both;
	width:100%;
	height: 37px;
	padding:0;
	margin-bottom: 12px;
}

#content {
  min-height:400px;
  padding-left: 15px;
	padding-right: 15px;
}

#generacion {
  padding-left: 20px;
	padding-bottom: 20px;
	width: 600px;
}

#items {
  border-collapse:collapse;
	width: 300px;
}

#items tr td, #items th{
  border: thin solid #333;
	padding: 5px;
}

.delete {
  cursor:pointer;
	text-align:center;
}

.paises {
  float:right;
}

.paises img {
  margin-left: 5px;
}
.logo {
  float:left;
}

.tabla {
	border-collapse:collapse;
}

.tabla td {
  padding: 5px;
	border: thin solid #333;
}

.tabla th {
  padding: 7px;
}

.tabla tfoot td {
  font-weight:bold;
}

#tablaCuotas {
  float:left;
	margin-left: 8px;
	margin-top: 20px;
}

#graficaCuotas {
  float:left;
}

.cuaderno {
  border-collapse:collapse;
}
.cuaderno th {
  background-color: #dfe3e8;
	color: #363636;
	border: thin #b1b5ba solid;
	padding-top: 6px;
	padding-bottom: 4px;
}
.cuaderno td {
  border: thin #dadcdd solid;
	padding: 5px;
}

.orilla {
	border: solid thin #666;
  -webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	width:600px;
	padding: 10px;
}

#tblUsuarios ul {
  list-style:none;
	padding-left:0;
}

#tblUsuarios ul li ul{
	padding-left:15px;
}

/****************************************** Agromet ************************************************************/
#agrometContenido {
  width: 945px;
	margin:auto;
}

#agrometHeader {
  width: 935px;
	background-color:#CCC;
}

#agrometHeader ul {
	list-style: none;
}

#agrometHeader ul li {
  float:left;
	width: 210px;
	text-align: center;
}

/*************************************** Usuarios ****************************************************************/
#divPermisos>ul {
	padding: 0;
	margin: 0;
}

#divPermisos ul {
  list-style: none;
}

#divPermisos>ul>li {
  float: left;
	width: 300px;
	margin-right: 10px;
}

#divPermisos>ul>li>fieldset {
  padding:0;
	margin:0;
}

/**************************************Cengimaps ********************************************************************/
.leyenda {
	width: 99%;
	border: solid thin #000;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	margin-top: 10px;
}

.leyenda table {
 margin: 5px;
}

.leyenda h3 {
  margin: 5px;
	color: #333;
	font-weight: bold;
}
